#include "layers_definitions.dtsi"
#include <dt-bindings/zmk/outputs.h>

#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 50
#define COMBO_PRIOR_IDLE_FAST 10
#define COMBO_PRIOR_IDLE_SLOW 100

/ {
	combos {
		compatible = "zmk,combos";

		combo_esc2 {
			bindings = <&kp ESC>;
			key-positions = <LT4 LM4>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_FAST>;
		};
		
		combo_undo {
			bindings = <&kp LG(Z)>;
			key-positions = <LM4 LB4>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_FAST>;
		};

		combo_redo {
			bindings = <&kp MY_REDO>;
			key-positions = <LT1 LM1>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_FAST>;
			layers = <BASE NUM_WORD NUM NUM_LOCKED SYM_WORD SYM SYM_LOCKED NAV_WORD NAV NAV_LOCKED NAV_LEFTHAND NAV_LEFTHAND_SELECTION FUNCT FUNCT_LOCKED>;

		};
		
		combo_cut {
			bindings = <&kp LG(X)>;
			key-positions = <38 26>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_FAST>;
		};
		
		combo_copy {
			bindings = <&kp LG(C)>;
			key-positions = <39 27>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_FAST>;
		};
		
		combo_paste {
			bindings = <&kp LG(V)>;
			key-positions = <40 28>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_FAST>;
		};
		
		combo_toggle_num_layer_left {
			bindings = <&tog NUM>;
			key-positions = <LB0 LH1>;
			timeout-ms = <COMBO_TERM_FAST>;
		};
		
		combo_toggle_nav_layer_left {
			bindings = <&tog NAV_LEFTHAND_SELECTION>;
			key-positions = <LB1 LH2>;
			timeout-ms = <COMBO_TERM_FAST>;
		};
		
		combo_tog_num_layer_right {
			bindings = <&tog NUM>;
			key-positions = <RB0 RH1>;
			timeout-ms = <COMBO_TERM_FAST>;
		};
		
		combo_tog_nav_layer_right {
			bindings = <&tog NAV>;
			key-positions = <RB1 RH2>;
			timeout-ms = <COMBO_TERM_FAST>;
		};
		
		combo_enter_left {
			bindings = <&kp ENTER>;
			key-positions = <LM2 LM1>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_SLOW>;
			layers = <BASE NUM_WORD NUM NUM_LOCKED SYM_WORD SYM SYM_LOCKED NAV_WORD NAV NAV_LOCKED NAV_LEFTHAND NAV_LEFTHAND_SELECTION FUNCT FUNCT_LOCKED MOUSE>;
		};
		
		combo_backspace_left {
			bindings = <&kp BACKSPACE>;
			key-positions = <LM3 LM2>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_SLOW>;
			layers = <BASE NUM_WORD NUM NUM_LOCKED SYM_WORD SYM SYM_LOCKED NAV_WORD NAV NAV_LOCKED NAV_LEFTHAND NAV_LEFTHAND_SELECTION FUNCT FUNCT_LOCKED MOUSE>;
		};
		
		combo_enter_right {
			bindings = <&kp ENTER>;
			key-positions = <RM1 RM2>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_SLOW>;
			layers = <BASE NUM_WORD NUM NUM_LOCKED SYM_WORD SYM SYM_LOCKED NAV_WORD NAV NAV_LOCKED NAV_LEFTHAND NAV_LEFTHAND_SELECTION FUNCT FUNCT_LOCKED>;
		};
		
		combo_backspace_right {
			bindings = <&kp BACKSPACE>;
			key-positions = <RM2 RM3>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_SLOW>;
			layers = <BASE NUM_WORD NUM NUM_LOCKED SYM_WORD SYM SYM_LOCKED NAV_WORD NAV NAV_LOCKED NAV_LEFTHAND NAV_LEFTHAND_SELECTION FUNCT FUNCT_LOCKED>;
		};
		
		combo_lang_switch_win {
			bindings = <&kp LA(LSHIFT)>;
			key-positions = <RM0 RB0>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_FAST>;
		};
		
		combo_print_screen {
			bindings = <&kp PRINTSCREEN>;
			key-positions = <LT3 LM3>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_FAST>;
			layers = <NUM_WORD NAV NAV_LOCKED NAV_LEFTHAND>;
		};
		
		combo_monosnap_capture_area {
			bindings = <&kp LA(LG(N5))>;
			key-positions = <LT2 LM2>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_FAST>;
			layers = <NUM_WORD NAV NAV_LOCKED NAV_LEFTHAND>;
		};
		
		combo_monosnap_capture_screen {
			bindings = <&kp LA(LG(N6))>;
			key-positions = <LT1 LM1>;
			timeout-ms = <COMBO_TERM_FAST>;
			require-prior-idle-ms = <COMBO_PRIOR_IDLE_FAST>;
			layers = <NUM_WORD NAV NAV_LOCKED NAV_LEFTHAND>;
		};

		combo_intellij_cmd_alt_b {
			bindings = <&kp LG(LA(B))>;
			key-positions = <LM0 LB0>;
			timeout-ms = <COMBO_TERM_FAST>;
			layers = <MOUSE>;
		};

		combo_intellij_methods_list {
			bindings = <&kp LG(F12)>;
			key-positions = <LT3 LM3>;
			timeout-ms = <COMBO_TERM_FAST>;
			layers = <MOUSE>;
		};

		combo_intellij_format_code {
			bindings = <&kp LG(LA(L))>;
			key-positions = <LT1 LM1>;
			timeout-ms = <COMBO_TERM_FAST>;
			layers = <MOUSE>;
		};

		combo_intellij_optimize_import {
			bindings = <&kp LG(LA(O))>;
			key-positions = <RT4 RM4>;
			timeout-ms = <COMBO_TERM_FAST>;
			layers = <MOUSE>;
		};

		// ---- adjustment layer combos ----
		combo_out_toggle__t_g {
			bindings = <&out OUT_TOG>;
			key-positions = <LT1 LM1>;
			timeout-ms = <COMBO_TERM_FAST>;
			layers = <ADJUST>;
		};

		combo_bt_clear_all__d_c {
			bindings = <&out BT_CLR_ALL>;
			key-positions = <LM2 LB2>;
			timeout-ms = <COMBO_TERM_FAST>;
			layers = <ADJUST>;
		};

		combo_reset_left__a_z {
			bindings = <&sys_reset>;
			key-positions = <LM4 LB4>;
			timeout-ms = <COMBO_TERM_FAST>;
			layers = <ADJUST>;
		};

		combo_bootloader_left__g_b {
			bindings = <&bootloader>;
			key-positions = <LM0 LB0>;
			timeout-ms = <COMBO_TERM_FAST>;
			layers = <ADJUST>;
		};

	};
};
