/ {
	
	// conditional_layers {
	// 	compatible = "zmk,conditional-layers";
	// 	// Not convinient to use, it switches off when SYM && NUM layers buttons are released - not enough hands. Left as a reference
	// 	funct_layer {
	// 		if-layers = <SYM NUM>;
	// 		then-layer = <FUNCT>;
	// 	};
	// };
	
};
