/ {
    input_processors {
        fast_mouse_processor: fast_mouse_processor {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_X INPUT_REL_Y>;
            multiplier = <3>;  // 3x faster
            divisor = <1>;
        };
        
        slow_mouse_processor: slow_mouse_processor {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_X INPUT_REL_Y>;
            multiplier = <1>;
            divisor = <3>;  // 3x slower
        };
    };
}; 
